///*------------------------------------*\
//    #Z-INDEXES
//\*------------------------------------*/


//Component namespaced z-index values
// Example:

//// NAV
//$z-index-nav: 2;
//$z-index-nav-open: 3;
//$z-index-nav-glitch-text-before: -1;
//$z-index-nav-glitch-text-after: 1;
