///*------------------------------------*\
//    #VARS
//\*------------------------------------*/


// 2500px / 16
$var-full-width: 156.25rem;
$var-full-width-fluid: 100%;

$var-big-column-count: 5;
$var-small-column-count: 10;    // small columns per big column
$var-total-column-count: $var-big-column-count * $var-small-column-count;

$var-big-column-width: $var-full-width / $var-big-column-count;
$var-small-column-width: $var-full-width / $var-total-column-count;

$var-big-column-width-fluid: $var-full-width-fluid / $var-big-column-count;
$var-small-column-width-fluid: $var-full-width-fluid / $var-total-column-count;


$var-mobile-side-padding: 3em;


$var-height-1000: 62.5rem;
$var-height-960: 60rem;
$var-height-720: 45rem;


// HERO
// 1080px / 16
$var-hero-height: 67.5rem;
$var-hero-height-fluid: 100vh;

// 960px / 16
$var-hero-height-small: 60rem;

// 680px / 16
$var-hero-height-smaller: 42.5rem;

// 480px / 16
$var-hero-height-smallest: 30rem;

// ARTICLE
// 1000px / 16
$var-article-content-width: 62.5rem;
// 1500px / 16
$var-article-content-full-width: 93.75rem;
// 495px / 16
$var-article-aside-width: 30.9375rem;
$var-article-small-screen-side-padding: 3rem;
$var-article-copy-side-padding: 13rem;


// NAV
$var-nav-height: 5rem;
$var-nav-height-expanded: 100vh;


// FOOTER
$var-footer-inner-width: percentage(120rem / $var-full-width);


// MAP
$var-map-height: 38.75rem;

