///*------------------------------------*\
//    #PLACEHOLDERS
//\*------------------------------------*/


%show {
	position: static;
	height: auto; width: auto;
	overflow: auto;
	clip: auto;
}

%hide {
	position: absolute;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

%hide-text {
	text-indent: -1000em;
	white-space: nowrap;
	overflow: hidden;
}

%discrete-box-shadow {
	box-shadow: .25rem .25rem 1rem -0.25rem #333;
}

%attention-overlay {
	opacity: 0;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, .65);
}

%opacity-hover-effects {
	@include vendor(transition-property, opacity);
	@include vendor(transition-delay, .2s);
	@include vendor(transition-duration, .6s);
}
