///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/

// Spit out vendor prefixes in one go. Very pragmatic, far from perfect.
@mixin vendor($property, $value...) {
	-webkit-#{$property}: $value;
		 -moz-#{$property}: $value;
					#{$property}: $value;
}

// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {

	@if($self != false) {

		&,
		&:hover,
		&:active,
		&:focus {
				@content;
		}

	}

	@else {

		&:hover,
		&:active,
		&:focus {
				@content;
		}

	}

}

@mixin placeholder() {
	&::-webkit-input-placeholder { @content };
	&::-moz-placeholder { @content };
	&:-ms-input-placeholder { @content };
}

// Generate numbered font-weights from their aliases.
@mixin font-weight($font-weight) {

	@if ($font-weight == "regular") {
		font-weight: 400;
	}

	@if ($font-weight == "bold") {
		font-weight: 700;
	}

}

@mixin font-face($font-family, $file-path, $format) {
  @font-face {
		font-family: $font-family;
		src: url($file-path) format($format);
  }
}

// Create all specified heading styles in one go.
@mixin headings($from: 1, $to: 6) {

	%base-heading {
		@content;
	}

	@if $from >= 1 and $to <= 6{

		@for $i from $from through $to{

			h#{$i} {
				@extend %base-heading;
			}

		}

	}

}


/// Sprite background image helper mixin
/// @author Alex Seman
/// @param {number} $x [0] - x-axis position of image on sprite
/// @param {number} $y [0] - y-axis position of image on sprite
@mixin sprite-bg-image($x: 0, $y: 0, $sprite: $image-main-sprite) {
	background: url($sprite) no-repeat $x $y;
}

/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-direction($direction)}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}


@mixin linear-gradient($direction, $color-stops...) {
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: linear-gradient($direction, $color-stops);
}

/// Display "block" & width + height setter mixin
@mixin display-block($w: auto, $h: auto) {
	display: block;
	width: $w;
	height: $h;
}

/// Display "inline-block" & width + height setter mixin
@mixin display-inline-block($w: auto, $h: auto) {
	display: inline-block;
	width: $w;
	height: $h;
}

@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else if ($horizontal) {
		left: 50%;
		transform: translate(-50%, 0);
	} @else if ($vertical) {
		top: 50%;
		transform: translate(0, -50%);
	}
}

@mixin centerer-classic($horizontal: true, $vertical:true, $w: 0, $h: 0) {
	position: absolute;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		margin-left: -$w / 2;
		margin-bottom: -$h / 2;
	} @else if ($horizontal) {
		left: 50%;
		margin-left: -$w / 2;
	} @else if ($vertical) {
		top: 50%;
		margin-bottom: -$h / 2;
	}
}


/// Quantity query - apply set of CSS properties to a selector
/// only if the number of adjacent siblings having the same "selector" is equal to "quantity"
///
/// @author Alex Seman
/// @param {number} $quantity
/// @param {string} $selector
@mixin quantity($quantity, $selector) {
	&:nth-last-child(#{$quantity}):first-child {
		@content;
	}
	&:nth-last-child(#{$quantity}):first-child ~ #{$selector} {
		@content;
	}
}



// generic transform
@mixin transform($transforms) {
	@include vendor(transform, $transforms);
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
	@include vendor(transform-origin, $origin);
}
