/*------------------------------------------------------------------------*\

                 CSS BP

          SHE'S ALL YOURS, CAP'N...

       _~
    _~ )_)_~
    )_))_))_)
    _!__!__!_
    \______t/
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

\*------------------------------------------------------------------------*/


/*
ITCSS Architecture:

@see https://www.youtube.com/watch?v=1OKZOV-iLj4
@see https://github.com/inuitcss


     lkxddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddxkxl
      k0o                                                             x0d
       xO                           SETTINGS                         oOo						Global variables, config switches
        dOl                                                         xOl
         o00OkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkOKO
          l0O                                                    o0k
            Ox                       TOOLS                       Ox									Default mixins and functions
             kk                                                lOd
              kK0OkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkO00o
               xKx                                           O0l
                oOo                 GENERIC                 xO											Ground zero styles (normalize)
                 lOd                                       kk
                  lOKOkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkO0Kx
                    O0o                                 xKx
                     kk              BASE              oOo													Unclassed HTML elements
                      xOl                             dOl
                       d00OkkkkkkkkkkkkkkkkkkkkkkkkkOKO
                        oKk                        o0O
                         lOd        OBJECTS        kk																Cosmetic-free design patterns
                           kx                    lOx
                            k0Okkkkkkkkkkkkkkkkk00d
                             ll                 ll
                                   COMPONENTS																				Designed components, chunks of UI
                                 l           l
                                 O0OkkkkkkkO0x
                                  l         l
                                     TRUMPS																					Helpers and overrides
                                    l     l
                                     o0Ox
                                      l
*/


/********************************************************************************************************************
 *
 *                                                 #SETTINGS
 *
 * 	- globally-available settings
 * 	- config switches
 * 	- brand colors, etc.
 *
 *******************************************************************************************************************/

$inuit-namespace: 'inuit-';
@import 'node_modules/inuit-defaults/settings.defaults';

@import 'settings.colors';
@import 'settings.images';
@import 'settings.zindex';
@import 'settings.vars';
@import 'settings.breakpoints';

//@import 'node_modules/inuit-responsive-settings/settings.responsive';
//$inuit-responsive-settings: false;




/********************************************************************************************************************
 *
 *                                                 #TOOLS
 *
 * 	- globally-available tools
 * 	- public mixins
 * 	- helper functions
 *  - Susy!
 *
 *******************************************************************************************************************/

//@import 'node_modules/susy/sass/susy';
//
//$susy: (
//	columns: $var-total-column-count,
//	container: $var-full-width-fluid,
//	gutters: 0,
//	global-box-sizing: border-box
//);
//
//$includeClasses: false;


@import 'node_modules/inuit-functions/tools.functions';
@import 'node_modules/inuit-mixins/tools.mixins';
@import 'tools.functions';
@import 'tools.mixins';
@import 'tools.placeholders';

//@import 'node_modules/inuit-responsive-tools/tools.responsive';
@import 'node_modules/inuit-tools-widths/tools.widths';

@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';
//$breakpoint-to-ems: true;


/********************************************************************************************************************
 *
 *                                                 #GENERIC
 *
 * 	- ground zero styles
 * 	- low-specificity, far-reaching
 * 	- normalize, box-sizing, etc.
 *
 *******************************************************************************************************************/

@import 'node_modules/normalize.css/normalize.css';
@import 'node_modules/inuit-box-sizing/generic.box-sizing';

/********************************************************************************************************************
 *
 *                                                 #BASE
 *
 * 	- unclassed HTML elements
 * 	- H1-H6, basic links, lists, etc.
 * 	- last layer with type selectors
 *
 *******************************************************************************************************************/


@import 'node_modules/inuit-page/base.page';
@import 'base.page';
@import 'base.links';
@import 'base.text';

@import 'node_modules/inuit-headings/base.headings';

// also maybe
//@import 'base.type';
@import 'node_modules/inuit-lists/base.lists';
@import 'node_modules/inuit-images/base.images';

//@import 'base.buttons';



/********************************************************************************************************************
 *
 *                                                 #OBJECTS
 *
 * 	- OOCSS
 * 	- design patterns
 * 	- no cosmetics
 * 	- begin using classes exclusively
 * 	- agnostically name (e.g. .ui-list {}) - i.e. names that don't describe the content
 *
 *******************************************************************************************************************/

//@import 'objects.wrappers';

//$inuit-btn-background:      $color-btn;
//$inuit-btn-radius:          $base-round;
$inuit-btn-border-width:    2px;
$inuit-enable-btn--small:   true;
$inuit-enable-btn--full:    true;
@import 'node_modules/inuit-buttons/objects.buttons';


$inuit-enable-box--flush:   true;
$inuit-enable-box--tiny:    true;
$inuit-enable-box--small:   true;
$inuit-enable-box--large:   true;
$inuit-enable-box--huge:    true;
@import 'node_modules/inuit-box/objects.box';



//@import 'node_modules/inuit-media/objects.media';


//$inuit-enable-block--flush:     true;
//$inuit-enable-block--tiny:      true;
//$inuit-enable-block--small:     true;
//$inuit-enable-block--large:     true;
//$inuit-enable-block--huge:      true;
//@import 'node_modules/inuit-block/objects.block';

//$inuit-enable-flag--rev:        true;
//$inuit-enable-flag--responsive: true;
//$inuit-flag-collapse-at:        479px !default;
//@import 'node_modules/inuit-flag/objects.flag';


/**
 * Kinda hacky for now, but needs more testing before rolling back into main
 * flag object.
 */
.flag__img {
	white-space: nowrap;
}
$inuit-enable-list-ui--small:   true;

@import 'node_modules/inuit-list-ui/objects.list-ui';
@import 'node_modules/inuit-list-inline/objects.list-inline';



/********************************************************************************************************************
 *
 *                                                 #COMPONENTS
 *
 * 	- designed pieces of UI
 * 	- still only using classes
 * 	- more explicitly named (e.g. .product-list {})
 *
 *******************************************************************************************************************/




/********************************************************************************************************************
 *
 *                                                 #TRUMPS
 *
 * 	- overrides, helpers, utilities
 * 	- only affect one piece of the DOM at a time
 * 	- usually carry !important
 *
 *******************************************************************************************************************/


@import 'node_modules/inuit-clearfix/trumps.clearfix';

//$inuit-use-fractions:   false;

$inuit-enable-margins:                  true;
$inuit-enable-margins--tiny:            true;
$inuit-enable-margins--small:           true;
$inuit-enable-margins--large:           true;
$inuit-enable-margins--huge:            true;

//$inuit-enable-margins--negative:        false !default;
//$inuit-enable-margins--negative-tiny:   false !default;
//$inuit-enable-margins--negative-small:  false !default;
//$inuit-enable-margins--negative-large:  false !default;
//$inuit-enable-margins--negative-huge:   false !default;

$inuit-enable-margins--none:            true;

$inuit-enable-paddings:                 true;
$inuit-enable-paddings--tiny:           true;
$inuit-enable-paddings--small:          true;
$inuit-enable-paddings--large:          true;
$inuit-enable-paddings--huge:           true;

$inuit-enable-paddings--none:           true;

@import 'node_modules/inuit-spacing/trumps.spacing';
